@using EscolaMVC.Models.Entities;

@model Turma
@{
    ViewData["Title"] = "Turmas";
}
@*visualização da página referente a criação/adição de uma turma*@
@*criar turmas*@

<h2>Turmas disponíveis</h2>

<hr />